<p>componente project</p>


<button (click)="getProject()">get project</button>
<div class="projectCard" *ngFor="let p of projects">

    <ul>
        <li>
            <span>nome progetto:{{p.name}} --> </span>
            <span>stato: {{p.status}} --> </span>
            <span>progress: {{p.progress}}</span>
        </li>
    </ul>
</div>

<div>
  <h2>add project</h2>
  <form [formGroup]="projectForm" (ngSubmit)="addProject()">
    <input type="text" name="name" formControlName="name" placeholder="name">
    <input type="number" name="status" formControlName="status" placeholder="status">
    <input type="date" name="start_date" formControlName="start_date" placeholder="start_date">
    <input type="date" name="end_date" formControlName="end_date" placeholder="end_date">
    <input type="number" name="progress" formControlName="progress" placeholder="progress">
    <input type="number" name="revenue" formControlName="revenue" placeholder="revenue">
    <input type="number" name="client_id" formControlName="client_id" placeholder="client_id">
    <input type="number" name="user_ids" formControlName="user_ids" placeholder="user_ids">
    <button type="submit">aggiungi</button>
  </form>
</div>